[submodule "QuarkEngine/third/spdlog"]
	path = QuarkEngine/third/spdlog
	url = https://github.com/gabime/spdlog
[submodule "QuarkEngine/third/imgui"]
	path = QuarkEngine/third/imgui
	url = https://github.com/JohnVlBetter/imgui
	branch = docking
	ignore = dirty
[submodule "QuarkEngine/third/glm"]
	path = QuarkEngine/third/glm
	url = https://github.com/JohnVlBetter/glm
	ignore = dirty
[submodule "QuarkEngine/third/GLFW"]
	path = QuarkEngine/third/GLFW
	url = https://github.com/JohnVlBetter/glfw
	ignore = dirty
[submodule "QuarkEngine/third/ImGuizmo"]
	path = QuarkEngine/third/ImGuizmo
	url = https://github.com/JohnVlBetter/ImGuizmo
[submodule "QuarkEngine/third/yaml-cpp"]
	path = QuarkEngine/third/yaml-cpp
	url = https://github.com/JohnVlBetter/yaml-cpp
